<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h4 id="jhi-sale-contract-heading" class="page-title"><span>{{saleContract.id? ('Edit Sale Contract: ' + saleContract.id + ' - ' + saleContract.saleContractCode): 'Create Sale Contract'}}</span></h4>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <!--<div class="form-group" [hidden]="!saleContract.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="saleContract.id" readonly />
                </div>-->
                <div class="inputs-container" style="width: 100%">
                    <div class="form-group left-input" style="max-width: 50%">
                        <label class="form-control-label" for="field_saleContractCode">Sale Contract Code</label>
                        <input type="text" class="form-control" name="saleContractCode" id="field_saleContractCode"
                               [(ngModel)]="saleContract.saleContractCode" />
                    </div>
                    <div class="form-group right-input" style="max-width: 50%">
                        <label class="form-control-label" for="field_number">Number</label>
                        <input type="number" class="form-control" name="number" id="field_number"
                               [(ngModel)]="saleContract.number" />
                    </div>
                </div>
                <div class="inputs-container">
                    <div class="form-group left-input">
                        <label class="form-control-label" for="field_price">Price (VND)</label>
                        <input type="text" class="form-control" name="price" id="field_price"
                               [(ngModel)]="saleContract.price" />
                    </div>
                    <div class="form-group right-input">
                        <label class="form-control-label" for="field_amount">Amount (Tan)</label>
                        <input type="number" class="form-control" name="amount" id="field_amount"
                               [(ngModel)]="saleContract.amount" />
                    </div>
                </div>
                <div class="inputs-container">
                    <div class="form-group left-input">
                        <label class="form-control-label" for="field_contractDate">Contract Date</label>
                        <div class="input-group">
                            <input id="field_contractDate" type="text" class="form-control" name="contractDate" ngbDatepicker  #contractDateDp="ngbDatepicker" [(ngModel)]="saleContract.contractDate"
                            />
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="contractDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                    <div class="form-group right-input">
                        <label class="form-control-label" for="field_deliveryDate">Delivery Date</label>
                        <div class="input-group">
                            <input id="field_deliveryDate" type="text" class="form-control" name="deliveryDate" ngbDatepicker  #deliveryDateDp="ngbDatepicker" [(ngModel)]="saleContract.deliveryDate"
                            />
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deliveryDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="inputs-container">
                    <div class="form-group left-input">
                        <label class="form-control-label" for="field_product">Product</label>
                        <select class="form-control" id="field_product" name="product" [(ngModel)]="saleContract.product" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="productOption.id === saleContract.product?.id ? saleContract.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
                        </select>
                    </div>
                    <div class="form-group right-input">
                        <label class="form-control-label" for="field_customer">Customer</label>
                        <select class="form-control" id="field_customer" name="customer" [(ngModel)]="saleContract.customer" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="customerOption.id === saleContract.customer?.id ? saleContract.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <textarea [rows]="4" [cols]="50" class="form-control" name="note" id="field_note"
                              [(ngModel)]="saleContract.note" >
                    </textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                        [(ngModel)]="saleContract.status" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
