<div>
    <h2 id="page-heading">
        <span>Transport Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transport-history" [routerLink]="['/transport-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Transport History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="transportHistories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Transport Date</span></th>
            <th><span>Transport Time</span></th>
            <th><span>Amount Per One</span></th>
            <th><span>Transport Contract Part</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transportHistory of transportHistories ;trackBy: trackId">
                <td><a [routerLink]="['/transport-history', transportHistory.id, 'view' ]">{{transportHistory.id}}</a></td>
                <td>{{transportHistory.transportDate | date:'mediumDate'}}</td>
                <td>{{transportHistory.transportTime}}</td>
                <td>{{transportHistory.amountPerOne}}</td>
                <td>
                    <div *ngIf="transportHistory.transportContractPart">
                        <a [routerLink]="['../transport-contract-part', transportHistory.transportContractPart?.id, 'view' ]" >{{transportHistory.transportContractPart?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/transport-history', transportHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transport-history', transportHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transport-history/'+ transportHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
