<div>
    <h2 id="page-heading">
        <span>Transport Units</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transport-unit" [routerLink]="['/transport-unit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Transport Unit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="transportUnits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Code</span></th>
            <th><span>Note</span></th>
            <th><span>Phone</span></th>
            <th><span>Address</span></th>
            <th><span>Size</span></th>
            <th><span>Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transportUnit of transportUnits ;trackBy: trackId">
                <td><a [routerLink]="['/transport-unit', transportUnit.id, 'view' ]">{{transportUnit.id}}</a></td>
                <td>{{transportUnit.name}}</td>
                <td>{{transportUnit.code}}</td>
                <td>{{transportUnit.note}}</td>
                <td>{{transportUnit.phone}}</td>
                <td>{{transportUnit.address}}</td>
                <td>{{transportUnit.size}}</td>
                <td>{{transportUnit.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/transport-unit', transportUnit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transport-unit', transportUnit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transport-unit/'+ transportUnit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
