<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="saleContact">
            <h2 class="page-title"><span>Sale Contract</span> {{saleContact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <i class="fas fa-dollar-sign"></i>
            <div class="table-responsive" *ngIf="saleContact">
                <span class="section-title">Information</span>
                <table class="table table-striped sale-contract-list">
                    <thead>
                    <th><span>Code</span></th>
                    <th><span>Number</span></th>
                    <th><span>Price</span></th>
                    <th><span>Amount</span></th>
                    <th><span>Contact Date</span></th>
                    <th><span>Delivery Date</span></th>
                    <th><span>Status</span></th>
                    <th><span>Product</span></th>
                    <th><span>Customer</span></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span>{{saleContact.saleContactCode}}</span></td>
                        <td><span>{{saleContact.number}}</span></td>
                        <td><span class="info-press">{{saleContact.price}}</span>Đ</td>
                        <td><span class="info-press">{{saleContact.amount}}</span>T</td>
                        <td><span>{{saleContact.contactDate | date:'mediumDate'}}</span></td>
                        <td><span>{{saleContact.deliveryDate | date:'mediumDate'}}</span></td>
                        <td><span>{{saleContact.status}}</span></td>
                        <td>
                            <div *ngIf="saleContact.product">
                                <a [routerLink]="['/product', saleContact.product?.id, 'view']">{{saleContact.product?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="saleContact.customer">
                                <a [routerLink]="['/customer', saleContact.customer?.id, 'view']">{{saleContact.customer?.name  }}</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <label>Note: </label>
                <span>{{saleContact.note}}</span>
            </div>
            <span class="section-title">Current Good Resources (Buy Contracts)</span>
            <div class="table-responsive" *ngIf="buySaleRelations">
                <table class="table table-striped sale-contract-list">
                    <thead>
                    <th><span>Code</span></th>
                    <th><span>Price</span></th>
                    <th><span>Amount</span></th>
                    <th><span>Sale</span></th>
                    <th><span>ETA Date</span></th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let bsr of buySaleRelations ;trackBy: trackId">
                        <td><span>{{bsr.buyContact.buyContactCode}}</span></td>
                        <td><span class="info-press">{{bsr.buyContact.price | number:'1.0-0'}}</span>Đ</td>
                        <td><span>{{bsr.buyContact.amount}} T</span></td>
                        <td><span class="info-press">{{bsr.amount}} T</span></td>
                        <td><span>{{bsr.buyContact.etaDate | date:'mediumDate'}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive" *ngIf="buyContactsForSale">
                <span class="section-title">Seletect New Good Resources (Buy Contracts)</span>
                <div *ngIf="showCannotSaveError"><span style="color: red">Total amount cannot be rather than amount</span></div>
                <table class="table table-striped sale-contract-list">
                    <thead>
                    <th><span>Code</span></th>
                    <th><span>Price</span></th>
                    <th><span>Amount</span></th>
                    <th><span>ETA Date</span></th>
                    <th><span>Remain Amount</span></th>
                    <th><span>Sale</span></th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let buyContact of buyContactsForSale ;trackBy: trackId">
                        <td><span>{{buyContact.buyContactCode}}</span></td>
                        <td><span class="info-press">{{buyContact.price}} Đ</span></td>
                        <td><span class="info-press">{{buyContact.amount}} T</span></td>
                        <td><span>{{buyContact.etaDate | date:'mediumDate'}}</span></td>
                        <td><span class="info-press">{{buyContact.remainAmount}} T</span></td>
                        <td><input type="number" class="form-control amount-input" name="amount" id="field_amount"
                                   [(ngModel)]="buyContact.amountSaleInContact" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
            <button type="button"
                    [routerLink]="['/sale-contact', saleContact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
            <button type="button" class="btn btn-primary" *ngIf="saleContact.status !== 'COMPLETE'" (click)="selectGoodSources(saleContact.id)">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Choose Good Resources</span>
            </button>
            <button type="button" class="btn btn-primary" *ngIf="saleContact.status !== 'COMPLETE' && buyContactsForSale" (click)="saveSelectedGoodSources(saleContact.id, buyContactsForSale)">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span>Save</span>
            </button>
        </div>
    </div>
</div>
