<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-buy-sale-relation-heading">Create or edit a Buy Sale Relation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!buySaleRelation.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="buySaleRelation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="buySaleRelation.amount" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_buyContract">Buy Contract</label>
                    <select class="form-control" id="field_buyContract" name="buyContract" [(ngModel)]="buySaleRelation.buyContract" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="buyContractOption.id === buySaleRelation.buyContract?.id ? buySaleRelation.buyContract : buyContractOption" *ngFor="let buyContractOption of buycontracts; trackBy: trackBuyContractById">{{buyContractOption.buyContractCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_saleContract">Sale Contract</label>
                    <select class="form-control" id="field_saleContract" name="saleContract" [(ngModel)]="buySaleRelation.saleContract" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="saleContractOption.id === buySaleRelation.saleContract?.id ? buySaleRelation.saleContract : saleContractOption" *ngFor="let saleContractOption of salecontracts; trackBy: trackSaleContractById">{{saleContractOption.saleContractCode}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
