.page-title, .alert-title {
    font-size: 20px;
    font-weight: bold;
    color: #17a2b8;
}
.navbar {
    background-color: #295977 !important;
    font-size: 15px !important;
    padding: 0 !important;
}
.nav-item {
    .nav-link {
        font-family: Lato,sans-serif;
        font-weight: 900!important;
        font-size: 12px;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: .5px;
        padding: .5rem 1rem!important;
    }
    .dropdown-item {
        font-family: Lato,sans-serif;
        font-weight: 900!important;
        font-size: 12px;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: .5px;
        padding: .5rem 1rem!important;
    }
}
