<div>
    <h4 id="page-heading">
        <span>Buy Contracts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-buy-contact" [routerLink]="['/buy-contact/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
        </button>
    </h4>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="buyContacts">
        <table class="table table-striped buy-contract-list">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Buy Contract Code</span></th>
            <th><span>Number</span></th>
            <th><span>Amount (Tan)</span></th>
            <th><span>Price (VND)</span></th>
            <th><span>Contact Date</span></th>
            <th><span>ETA Date</span></th>
            <th><span>Status</span></th>
            <th><span>Product</span></th>
            <th><span>Provider</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody *ngFor="let buyContact of buyContactsWithSaleData ;trackBy: trackId">
            <tr>
                <td><a [routerLink]="['/buy-contact', buyContact.id, 'view' ]">{{buyContact.id}}</a></td>
                <td>{{buyContact.buyContactCode}}</td>
                <td>{{buyContact.number}}</td>
                <td>{{buyContact.amount}}</td>
                <td>{{buyContact.price}}</td>
                <td>{{buyContact.contactDate | date:'mediumDate'}}</td>
                <td>{{buyContact.etaDate | date:'mediumDate'}}</td>
                <td>{{buyContact.status}}</td>
                <td>
                    <div *ngIf="buyContact.product">
                        <a [routerLink]="['../product', buyContact.product?.id, 'view' ]" >{{buyContact.product?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="buyContact.provider">
                        <a [routerLink]="['../provider', buyContact.provider?.id, 'view' ]" >{{buyContact.provider?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/buy-contact', buyContact.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <!--<span class="d-none d-md-inline">View</span>-->
                        </button>
                        <button type="submit"
                                [routerLink]="['/buy-contact', buyContact.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'buy-contact/'+ buyContact.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            <tr style="background: #ffc107" *ngIf="buyContact.buySaleRelations && buyContact.buySaleRelations.length > 0">
                <th style="background: #ffffff"><span></span></th>
                <th><span>Sale Contract Code</span></th>
                <th><span>Number</span></th>
                <th><span>Amount (Tan)</span></th>
                <th><span>Price (VND)</span></th>
                <th><span>Contact Date</span></th>
                <th><span>Delivery Date</span></th>
                <th><span>Status</span></th>
                <th><span>Customer</span></th>
                <th><span>Sale</span></th>
            </tr>
            <tr *ngFor="let bcr of buyContact.buySaleRelations" style="background: #ffc107">
                <th style="background: #ffffff"><span></span></th>
                <td><a [routerLink]="['/sale-contact', bcr.saleContact.id, 'view' ]">{{bcr.saleContact.saleContactCode}}</a></td>
                <td>{{bcr.saleContact.number}}</td>
                <td>{{bcr.saleContact.amount}}</td>
                <td>{{bcr.saleContact.price}}</td>
                <td>{{bcr.saleContact.contactDate | date:'mediumDate'}}</td>
                <td>{{bcr.saleContact.deliveryDate | date:'mediumDate'}}</td>
                <td>{{bcr.saleContact.status}}</td>
                <td>{{bcr.saleContact.customer.name}}</td>
                <td>{{bcr.amount}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
