<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="buyContact">
            <h2><span>Buy Contract</span> {{buyContact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Buy Contract Code</span></dt>
                <dd>
                    <span>{{buyContact.buyContactCode}}</span>
                </dd>
                <dt><span>Number</span></dt>
                <dd>
                    <span>{{buyContact.number}}</span>
                </dd>
                <dt><span>Amount (Tan)</span></dt>
                <dd>
                    <span>{{buyContact.amount}}</span>
                </dd>
                <dt><span>Price (VND)</span></dt>
                <dd>
                    <span>{{buyContact.price}}</span>
                </dd>
                <dt><span>Contact Date</span></dt>
                <dd>
                    <span>{{buyContact.contactDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span>ETA Date</span></dt>
                <dd>
                    <span>{{buyContact.etaDate | date:'mediumDate'}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{buyContact.note}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{buyContact.status}}</span>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="buyContact.product">
                        <a [routerLink]="['/product', buyContact.product?.id, 'view']">{{buyContact.product?.name}}</a>
                    </div>
                </dd>
                <dt><span>Provider</span></dt>
                <dd>
                    <div *ngIf="buyContact.provider">
                        <a [routerLink]="['/provider', buyContact.provider?.id, 'view']">{{buyContact.provider?.name}}</a>
                    </div>
                </dd>
            </dl>
            <div class="table-responsive" *ngIf="buySaleRelations">
                <div *ngIf="showCannotSaveError"><span style="color: red">Total amount cannot be rather than amount</span></div>
                <table class="table table-striped">
                    <thead>
                    <th><span>Code</span></th>
                    <th><span>Price</span></th>
                    <th><span>Delivery Date</span></th>
                    <th><span>Amount</span></th>
                    <th><span>Sale</span></th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let bsr of buySaleRelations ;trackBy: trackId">
                        <td><span>{{bsr.saleContact.saleContactCode}}</span></td>
                        <td><span>{{bsr.saleContact.price}}</span></td>
                        <td><span>{{bsr.saleContact.deliveryDate | date:'mediumDate'}}</span></td>
                        <td><span>{{bsr.saleContact.amount}}</span></td>
                        <td><span>{{bsr.amount}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/buy-contact', buyContact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
